<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script type="text/javascript" src="angular.min-1.6.6.js"></script>
    <script type="text/javascript" src='app.js'></script>
  </head>
<body ng-app="NarrowItDownApp">
   <div class="container" ng-controller="NarrowItDownController as nidc">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" placeholder="search term" class="form-control"  ng-model='nidc.searchTerm' >
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click='nidc.OnNarrowItDown()'>Narrow It Down For Me!</button>
    </div>
    <div class='no-float' />

    <p ng-if='nidc.resultMessage'>{{nidc.resultMessage}}</p>
    
    <found-items
      items="nidc.matchedItems"
      on-remove="....">
    </found-items>
  </div>

</body>
</html>
